.all-posts-container {
    box-shadow: 5px 5px 5px #000;
}

.image {
    width: 40vw;
    height: 200px;
}
.fa-comment {
    margin: 0rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}
#commentForm {
    display: none;
}
